.navbar{
    display: flex;
    justify-content: space-around;
    
}
.logo{
    display: flex;
    justify-content: flex-start;
}
.menus{
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}
.container{
    background-color: aquamarine;
}